body {
  margin: var(--contentSpacing);
  display: flex;
  flex-direction: column;
  gap: var(--contentSpacing);
}

.wrap {
  padding: var(--contentSpacing);
  background-color: var(--backgroundColor);
  border-radius: 8px;
}
